<!-- Starter file provided by Instructor (03/09/2021) AC -->

<div class="pure-u-1-3" id="cardMan">
        <div class="header" id="hMan">
            <h2>{{ name }}</h2>
            <h3><i class="fas fa-chalkboard-teacher"></i>{{ role }}</h3>
        </div>
        <div>
            <ul>
                <li>ID: {{ id }}</li>
                <li>Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
                <li>Office number: {{ officeNumber }}</li>
            </ul>
        </div>
</div>